body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

header {
    margin-bottom: 30px;
}

#the-canvas {
    border: 1px black solid;
    border-radius: 5px;
}

.nav-box {
    background-color: white;
    padding: 10px;
    width: 450px;
}