<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <div>

            <form class="form needs-validation" role="form" id="formRegister" method="POST" action="/account/create" novalidate>
                <div class="form-group">
                    <label for="mail">Email</label>
                    <input type="email" class="form-control form-control-lg" name="mail" id="mail" required="required">
                    <div class="invalid-feedback">
                        It is not a valid email.
                    </div>
                </div>

                <div class="form-group">
                    <label for="pwd1">Password</label>
                    <input type="password" class="form-control form-control-lg" name="pwd1" id="pwd1" required="required">
                    <div class="invalid-feedback">
                        This field is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="pw2">Confirm password</label>
                    <input type="password" class="form-control form-control-lg" name="pwd2" id="pwd2" required="required">
                    <div class="invalid-feedback">
                        Please, confirm your password.
                    </div>
                </div>
                <% if (error == "pass_not_same") { %>
                    <div class="alert alert-danger">
                        <strong>Error: </strong> Password does not match the confirm password.
                    </div>
                    <% } %>
                        <div class="form-group py-4">
                            <input type="submit" class="btn btn-success btn-lg" id="btnLogin" value="Register" />
                        </div>
            </form>
        </div>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <% include ../partials/footer %>
</body>

</html>