<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.js"></script>
</head>

<body>
    <input type="hidden" id="url_viewer" value="<%= url %>"/>
    <header>
        <% include ../partials/header-viewer %>
    </header>

    <div class="container">
        <div class="container-canvas" style="width: 800px; margin: auto;">
            <canvas id="the-canvas"></canvas>
        </div>
    </div>

    <% include ../partials/footer %>

    <script src="/javascripts/pdf.js"></script>
    <script>
        jQuery(document).ready(function () {

            $(".input-width").change(function () {
                desiredWidth = $(this).val();

                var page_num = parseInt(jQuery("#page_num").text());
                renderPage(page_num, desiredWidth);
            });


            $('#width-percent').change(function () {
                if ($(this).val() == "custom") {
                    $('.input-width').css("display", "inline-block");
                } else {
                    $('.input-width').css("display", "none");

                    if ($(this).val() == "full-height") {
                        var whA4 = 21 / 29.7; // TODO : change that because it is only for A4
                        var height = $(window).height() - 100;
                        width = whA4 * height

                    } else if ($(this).val() == "full-width") {
                        width = $(window).width() - 100;
                        $('.container').css("max-width", width)
                    }

                    $(".input-width").val(width)
                    var page_num = parseInt(jQuery("#page_num").text());
                    renderPage(page_num, width);

                }
            });

        });
    </script>
</body>

</html>